<button
  class="chat-btn"
  (click)="toggleChat()">

  💬

</button>

<div
  class="chat-window"
  *ngIf="abierto">

  <div class="header">
    PetHouse IA
  </div>

  <div class="messages">

    <div
      *ngFor="let msg of mensajes"
      [class.usuario]="msg.tipo === 'usuario'"
      [class.bot]="msg.tipo === 'bot'">

      {{ msg.texto }}

    </div>

  </div>

  <div class="footer">

    <input
      [(ngModel)]="mensaje"
      (keyup.enter)="enviar()"
      placeholder="Escribe tu mensaje..." />

    <button (click)="enviar()">
      Enviar
    </button>

  </div>

</div>